{# Sesión de usuario, admininstración de artistas #}
{% extends 'usuarios/sesion.html.twig' %}

{% block cssPersonalizados %}
    {{ parent() }}
    <style>
        .panelArtistas{
            margin-right: 0px;
            margin-bottom: 10px;
            padding-left: 2px;
            padding-right: 2px;
            border:1px solid #000000;
            background-color: #FFFFFF;
        }
        .panelFavoritos2{
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;
            background-color: #FFFFFF;
        }
        .panelFavoritos3{
            margin-right: 0px;
            border:1px solid #000000;
            background-color: #FFFFFF;
        }
        .imagenArtistas{
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .textoArtista{
            text-align: center;
        }
        .botonFavorito{
            width: 100%;
            margin-top: 5px;
            padding-left: 6px;
            padding-right: 6px;
            margin-bottom: 5px;
            text-align: center;
            align-content: center;
            height: 42px;
            padding-top: 10px;
            padding-bottom: 10px;
            -webkit-box-shadow: 2px 2px 11px rgba(0,0,0,.1);
            box-shadow: 2px 2px 11px rgba(0,0,0,.1);
        }
        .botonFavorito2{
            display: none;
            width: 100%;
            height: 42px;
            margin-top: 5px;
            padding-top: 13px;
            padding-bottom: 10px;
            padding-left: 0px;
            padding-right: 0px;
            margin-bottom: 5px;
            text-align: center;
            font-size: 11px;
            align-content: center;
            -webkit-box-shadow: 2px 2px 11px rgba(0,0,0,.1);
            box-shadow: 2px 2px 11px rgba(0,0,0,.1);
        }
        .botonOpciones{
            width: 100%;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 0px;
            padding-right: 0px;
            margin-bottom: 5px;
            text-align: center;
            align-content: center;
            background-color: #FFFFFF;
            -webkit-box-shadow: 2px 2px 11px rgba(0,0,0,.1);
            box-shadow: 2px 2px 11px rgba(0,0,0,.1);
        }
/***************************** CONTENEDORES ***********************************/
        .titulo{
            position:relative;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            padding-right: 15px;
            display:block;
            text-align:center;
            overflow:hidden;
            height: 70px;
            max-height:70px;
            background-color: #FFFFFF;
            text-transform:none;
            text-align: justify;
            font-weight:400;
            margin-bottom:0px;
            color: #000000 !important;
            font-family: HelveticaNegrita, HelveticaCond, sans-serif;
            font-size: 20px;
        }
        .titulo a h2{
            text-transform:none;
            font-weight:400;
            color: #000000 !important;
            font-family: HelveticaNegrita, HelveticaCond, sans-serif;
            font-size: 20px;
        }
        .content-box-shadow2 {
            -webkit-box-shadow:1px 1px 1px 0px rgba(0,0,0,0.02);
            -moz-box-shadow:1px 1px 1px 0px rgba(0,0,0,0.02);
            box-shadow:1px 1px 1px 0px rgba(0,0,0,0.02);
            padding:15px;
            background-color:#FAFAFA;
            border-left:1px solid #E6E6E6;
            border-right:1px solid #E6E6E6;
        }        
        .estiloMusical{
            height: 50px;
            max-height: 50px;
        }
        .social{
            margin-left: 30px;
            margin-right: 30px;
        }
        .social2{
            margin-left: 6px;
            margin-right: 6px;
        }
        .social3{
            margin-left: 30px;
            margin-right: 29px;
        }
    </style>
{% endblock %}
{% block encabezadoContenido %} 
    <div class="row ml5" id="buscador">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row"><!-- Titulo y buscador -->
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="tituloSesion">Mis Artistas</div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><!-- Buscador -->
                    <form action="#" method="post" role="form">
                        <div class="input-group buscador">
                            <div class="input-group-btn">
                                <button class="btn btn-default boton" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>                        
                            <input type="text" id="buscador2" name="buscador2" class="form-control tBuscador" placeholder="Buscar...">
                        </div>
                    </form>
                </div><!-- Fin del Buscador -->
            </div><!-- Fin de Titulo y buscador -->
        </div>
    </div>
{% endblock %} 
{% block contenidoDerecha %}
    <div class="row mt5 mb5" id="favoritos1"><!-- Fila 1-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><!-- Resulatado 1 -->
            <div class="view image-hover-1 no-margin">
                <!-- Blog Thumb -->
                <div class="product-container">
                    <img class="img-responsive full-width" src="{{ asset('bundles/app/img/artista1.png') }}" alt="...">
                    <span class="badge home-badge">
                        <span class="label label-orange">
                            Desde 315.99 €/und
                        </span>
                    </span>
                </div>
                <div class="mask">
                    <div class="image-hover-content">
                        <!-- Zoom + Blog Link -->
                        <a href="{{ asset('bundles/app/img/artista1.png') }}" class="info image-zoom-link">
                            <div class="image-icon-holder">
                                <span class="ion-ios7-search image-icons"></span>
                            </div>
                        </a>
                        <a href="{{ path('detallesArtistas', {'id':1}) }}" class="info">
                            <div class="image-icon-holder">
                                <span class="ion-link image-icons"></span>
                            </div>
                        </a>
                    </div><!-- /image hover content -->
                </div><!-- /mask-->
            </div>
            <div class="titulo content-box-shadow2">
                <a href="{{ path('detallesArtistas', {'id':1}) }}">
                    <h2>La Oreja de Van Gogh</h2>
                </a>  
            </div>
            <div class="shop-product content-box-shadow">
                <div class="row mt10">
                    <div class="col-md-12">
                        <span class="location-container pull-left">
                            <div class="textoDireccion">
                                <span class="glyphicon glyphicon-map-marker icono"></span> Manises, Valencia
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12 estiloMusical">
                        <span class="fa fa-music"></span> Pop rock, Power pop, Synth pop, Folk rock
                    </div>
                </div>
                <div class="row">
                    <div class="hidden-xs hidden-sm col-md-8 col-lg-8"></div>
                    <div class="col-sx-12 col-sm-12 col-md-4 col-lg-4">
                        <p class="textoTipo">Banda</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <a href="#" class="btn btn-custom-orange btn-sm" id="gestionarEvento">
                            Gestionar Evento
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><!-- Submenu -->
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle botonOpciones" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Editar</a>
                                </li>
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Bloquear</a>
                                </li>
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-inline" id="">
                        <li class="social3">
                            <a href="#" class="">
                                <span class="fa fa-thumbs-up"></span>
                            </a>
                        </li>
                        <li class="social2">
                            <a href="#" class="compartir">
                                <span class="fa fa-share-alt"></span><!--  fa-share -->
                            </a>
                        </li>
                        <li class="social">
                            <a href="#" class="favorito" id="favorito1" onclick="cambiar(id);">
                                <span class="fa fa-heart"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- Fin Resulatado 1 -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><!-- Resulatado 2 -->
            <div class="view image-hover-1 no-margin">
                <!-- Blog Thumb -->
                <div class="product-container">
                    <img class="img-responsive full-width" src="{{ asset('bundles/app/img/artista2.png') }}" alt="...">
                    <span class="badge home-badge">
                        <span class="label label-orange">
                            Desde 315.99 €/und
                        </span>
                    </span>
                </div>
                <div class="mask">
                    <div class="image-hover-content">
                        <!-- Zoom + Blog Link -->
                        <a href="{{ asset('bundles/app/img/artista2.png') }}" class="info image-zoom-link">
                            <div class="image-icon-holder">
                                <span class="ion-ios7-search image-icons"></span>
                            </div>
                        </a>
                        <a href="{{ path('detallesArtistas', {'id':2}) }}" class="info">
                            <div class="image-icon-holder">
                                <span class="ion-link image-icons"></span>
                            </div>
                        </a>
                    </div><!-- /image hover content -->
                </div><!-- /mask-->
            </div>
            <div class="titulo content-box-shadow2">
                <a href="{{ path('detallesArtistas', {'id':2}) }}">
                    <h2>Panorama Mar</h2>
                </a>
            </div>
            <div class="shop-product content-box-shadow">                
                <div class="row mt10">
                    <div class="col-md-12">
                        <span class="location-container pull-left">
                            <div class="textoDireccion">
                                <span class="glyphicon glyphicon-map-marker icono"></span> Manises, Valencia
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12 estiloMusical">
                        <span class="fa fa-music"></span> Pop
                    </div>
                </div>
                <div class="row">
                    <div class="hidden-xs hidden-sm col-md-8 col-lg-8"></div>
                    <div class="col-sx-12 col-sm-12 col-md-4 col-lg-4">
                        <p class="textoTipo">Banda</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <a href="#" class="btn btn-custom-orange btn-sm" id="gestionarEvento2">
                            Gestionar Evento
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><!-- Submenu -->
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle botonOpciones" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Editar</a>
                                </li>
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Bloquear</a>
                                </li>
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-inline" id="">
                        <li class="social">
                            <a href="#" class="">
                                <span class="fa fa-thumbs-o-up"></span>
                            </a>
                        </li>
                        <li class="social2">
                            <a href="#" class="compartir">
                                <span class="fa fa-share-alt"></span><!--  fa-share -->
                            </a>
                        </li>
                        <li class="social">
                            <a href="#" class="favorito" id="favorito2" onclick="cambiar(id);">
                                <span class="fa fa-heart-o"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- Fin Favorito 2 -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><!-- Resulatado 3 -->
            <div class="view image-hover-1 no-margin">
                <!-- Blog Thumb -->
                <div class="product-container">
                    <img class="img-responsive full-width" src="{{ asset('bundles/app/img/artista3.png') }}" alt="...">
                    <span class="badge home-badge">
                        <span class="label label-orange">
                            Desde 315.99 €/und
                        </span>
                    </span>
                </div>
                <div class="mask">
                    <div class="image-hover-content">
                        <!-- Zoom + Blog Link -->
                        <a href="{{ asset('bundles/app/img/artista3.png') }}" class="info image-zoom-link">
                            <div class="image-icon-holder">
                                <span class="ion-ios7-search image-icons"></span>
                            </div>
                        </a>
                        <a href="{{ path('detallesArtistas', {'id':3}) }}" class="info">
                            <div class="image-icon-holder">
                                <span class="ion-link image-icons"></span>
                            </div>
                        </a>
                    </div><!-- /image hover content -->
                </div><!-- /mask-->
            </div>
            <div class="titulo content-box-shadow2">
                <a href="{{ path('detallesArtistas', {'id':3}) }}">
                    <h2>Banda Tributo Queen</h2>
                </a>
            </div>
            <div class="shop-product content-box-shadow">                
                <div class="row mt10">
                    <div class="col-md-12">
                        <span class="location-container pull-left">
                            <div class="textoDireccion">
                                <span class="glyphicon glyphicon-map-marker icono"></span> Manises, Valencia
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12 estiloMusical">
                        <span class="fa fa-music"></span> Rock
                    </div>
                </div>
                <div class="row">
                    <div class="hidden-xs hidden-sm col-md-8 col-lg-8"></div>
                    <div class="col-sx-12 col-sm-12 col-md-4 col-lg-4">
                        <p class="textoTipo">Banda</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <a href="#" class="btn btn-custom-orange btn-sm" id="gestionarEvento3">
                            Gestionar Evento
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><!-- Submenu -->
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle botonOpciones" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Editar</a>
                                </li>
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Bloquear</a>
                                </li>
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-inline" id="">
                        <li class="social">
                            <a href="#" class="">
                                <span class="fa fa-thumbs-o-up"></span>
                            </a>
                        </li>
                        <li class="social2">
                            <a href="#" class="compartir">
                                <span class="fa fa-share-alt"></span><!--  fa-share -->
                            </a>
                        </li>
                        <li class="social">
                            <a href="#" class="favorito" id="favorito3" onclick="cambiar(id);">
                                <span class="fa fa-heart"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- Fin Favorito 3 -->
    </div><!-- Fin de fila 1 de Artistas -->
    <div class="row mb5" id="favoritos2"><!-- Fila 2 -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><!-- Resulatado 4 -->
            <div class="view image-hover-1 no-margin">
                <!-- Blog Thumb -->
                <div class="product-container">
                    <img class="img-responsive full-width" src="{{ asset('bundles/app/img/artista4.png') }}" alt="...">
                    <span class="badge home-badge">
                        <span class="label label-orange">
                            Desde 315.99 €/und
                        </span>
                    </span>
                </div>
                <div class="mask">
                    <div class="image-hover-content">
                        <!-- Zoom + Blog Link -->
                        <a href="{{ asset('bundles/app/img/artista4.png') }}" class="info image-zoom-link">
                            <div class="image-icon-holder">
                                <span class="ion-ios7-search image-icons"></span>
                            </div>
                        </a>
                        <a href="{{ path('detallesArtistas', {'id':4}) }}" class="info">
                            <div class="image-icon-holder">
                                <span class="ion-link image-icons"></span>
                            </div>
                        </a>
                    </div><!-- /image hover content -->
                </div><!-- /mask-->
            </div>
            <div class="titulo content-box-shadow2">
                <a href="{{ path('detallesArtistas', {'id':4}) }}">
                    <h2>Katy Perry</h2>
                </a>  
            </div>
            <div class="shop-product content-box-shadow">
                <div class="row mt10">
                    <div class="col-md-12">
                        <span class="location-container pull-left">
                            <div class="textoDireccion">
                                <span class="glyphicon glyphicon-map-marker icono"></span> Manises, Valencia
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12 estiloMusical">
                            <span class="fa fa-music"></span> Rock, Pop, Dance, G&oacute;spel
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hidden-xs hidden-sm col-md-8 col-lg-8"></div>
                    <div class="col-sx-12 col-sm-12 col-md-4 col-lg-4">
                        <p class="textoTipo">Banda</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <a href="#" class="btn btn-custom-orange btn-sm" id="gestionarEvento4">
                            Gestionar Evento
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><!-- Submenu -->
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle botonOpciones" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Editar</a>
                                </li>
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Bloquear</a>
                                </li>
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-inline" id="">
                        <li class="social3">
                            <a href="#" class="">
                                <span class="fa fa-thumbs-up"></span>
                            </a>
                        </li>
                        <li class="social2">
                            <a href="#" class="compartir">
                                <span class="fa fa-share-alt"></span><!--  fa-share -->
                            </a>
                        </li>
                        <li class="social">
                            <a href="#" class="favorito" id="favorito4" onclick="cambiar(id);">
                                <span class="fa fa-heart"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- Fin Resulatado 4 -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><!-- Resulatado 5 -->
            <div class="view image-hover-1 no-margin">
                <!-- Blog Thumb -->
                <div class="product-container">
                    <img class="img-responsive full-width" src="{{ asset('bundles/app/img/artista5.png') }}" alt="...">
                    <span class="badge home-badge">
                        <span class="label label-orange">
                            Desde 315.99 €/und
                        </span>
                    </span>
                </div>
                <div class="mask">
                    <div class="image-hover-content">
                        <!-- Zoom + Blog Link -->
                        <a href="{{ asset('bundles/app/img/artista5.png') }}" class="info image-zoom-link">
                            <div class="image-icon-holder">
                                <span class="ion-ios7-search image-icons"></span>
                            </div>
                        </a>
                        <a href="{{ path('detallesArtistas', {'id':5}) }}" class="info">
                            <div class="image-icon-holder">
                                <span class="ion-link image-icons"></span>
                            </div>
                        </a>
                    </div><!-- /image hover content -->
                </div><!-- /mask-->
            </div>
            <div class="titulo content-box-shadow2">
                <a href="{{ path('detallesArtistas', {'id':5}) }}">
                    <h2>Vetusta Morla</h2>
                </a>
            </div>
            <div class="shop-product content-box-shadow">                
                <div class="row mt10">
                    <div class="col-md-12">
                        <span class="location-container pull-left">
                            <div class="textoDireccion">
                                <span class="glyphicon glyphicon-map-marker icono"></span> Manises, Valencia
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12 estiloMusical">
                            <span class="fa fa-music"></span> Rock, Indie
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hidden-xs hidden-sm col-md-8 col-lg-8"></div>
                    <div class="col-sx-12 col-sm-12 col-md-4 col-lg-4">
                        <p class="textoTipo">Banda</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <a href="#" class="btn btn-custom-orange btn-sm" id="gestionarEvento5">
                            Gestionar Evento
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><!-- Submenu -->
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle botonOpciones" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Editar</a>
                                </li>
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Bloquear</a>
                                </li>
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-inline" id="">
                        <li class="social">
                            <a href="#" class="">
                                <span class="fa fa-thumbs-o-up"></span>
                            </a>
                        </li>
                        <li class="social2">
                            <a href="#" class="compartir">
                                <span class="fa fa-share-alt"></span><!--  fa-share -->
                            </a>
                        </li>
                        <li class="social">
                            <a href="#" class="favorito" id="favorito5" onclick="cambiar(id);">
                                <span class="fa fa-heart-o"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- Fin Favorito 5 -->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><!-- Resulatado 6 -->
            <div class="view image-hover-1 no-margin">
                <!-- Blog Thumb -->
                <div class="product-container">
                    <img class="img-responsive full-width" src="{{ asset('bundles/app/img/artista6.png') }}" alt="...">
                    <span class="badge home-badge">
                        <span class="label label-orange">
                            Desde 315.99 €/und
                        </span>
                    </span>
                </div>
                <div class="mask">
                    <div class="image-hover-content">
                        <!-- Zoom + Blog Link -->
                        <a href="{{ asset('bundles/app/img/artista6.png') }}" class="info image-zoom-link">
                            <div class="image-icon-holder">
                                <span class="ion-ios7-search image-icons"></span>
                            </div>
                        </a>
                        <a href="{{ path('detallesArtistas', {'id':6}) }}" class="info">
                            <div class="image-icon-holder">
                                <span class="ion-link image-icons"></span>
                            </div>
                        </a>
                    </div><!-- /image hover content -->
                </div><!-- /mask-->
            </div>
            <div class="titulo content-box-shadow2">
                <a href="{{ path('detallesArtistas', {'id':6}) }}">
                    <h2>Lady Gaga</h2>
                </a>
            </div>
            <div class="shop-product content-box-shadow">                
                <div class="row mt10">
                    <div class="col-md-12">
                        <span class="location-container pull-left">
                            <div class="textoDireccion">
                                <span class="glyphicon glyphicon-map-marker icono"></span> Manises, Valencia
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12 estiloMusical">
                            <span class="fa fa-music"></span> Rock, Pop, Dance, Electr&oacute;nica
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hidden-xs hidden-sm col-md-8 col-lg-8"></div>
                    <div class="col-sx-12 col-sm-12 col-md-4 col-lg-4">
                        <p class="textoTipo">Banda</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <a href="#" class="btn btn-custom-orange btn-sm" id="gestionarEvento6">
                            Gestionar Evento
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><!-- Submenu -->
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle botonOpciones" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-option-vertical"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Editar</a>
                                </li>
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Bloquear</a>
                                </li>
                                <li role="presentation">
                                  <a role="menuitem" tabindex="-1" href="#">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-inline" id="">
                        <li class="social">
                            <a href="#" class="">
                                <span class="fa fa-thumbs-o-up"></span>
                            </a>
                        </li>
                        <li class="social2">
                            <a href="#" class="compartir">
                                <span class="fa fa-share-alt"></span><!--  fa-share -->
                            </a>
                        </li>
                        <li class="social">
                            <a href="#" class="favorito" id="favorito6" onclick="cambiar(id);">
                                <span class="fa fa-heart"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- Fin Favorito 6 -->
    </div><!-- Fin de fila 2 de Artistas -->
{% endblock %}
{% block customScripts %}
    <!-- CountDown JS -->
    <script type="text/javascript" src="{{ asset('bundles/app/js/TimeCircles.js') }}"></script>
    <!-- Slider Revolution JS -->
    <script type="text/javascript" src="{{ asset('bundles/app/js/revolution/jquery.themepunch.tools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/revolution/jquery.themepunch.revolution.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/revolution/extensions/revolution.extension.layeranimation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/revolution/extensions/revolution.extension.video.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/revolution/extensions/revolution.extension.slideanims.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/revolution/extensions/revolution.extension.navigation.min.js') }}"></script>
    <!-- Para menus desplegables -->
    <script type="text/javascript" src="{{ asset('bundles/app/js/app.min.js') }}"></script>
    <script type="text/javascript">
/******************Menu siempre visible***************************************/ 
        $(document).scroll(function() {
            if($(document).scrollTop() > 30){
                document.getElementById("fixed-topBar").setAttribute("class","top-bar top-bar-fixed");
                document.getElementById("fixed-navbar").setAttribute("class","navbar navbar-main affix");
            }
            else{
                document.getElementById("fixed-topBar").setAttribute("class","top-bar");
                document.getElementById("fixed-navbar").setAttribute("class","navbar navbar-main");
            }
        });         
/**********************Menu****************************************************/
        $(document).scroll(function() {
            console.log($(document).scrollTop());
            var max = 0;
            {% if cantResultados >= 2 %}
                max = 300*{{cantResultados}};
            {% else %}
                max = 320;
            {% endif %}
            if($(document).scrollTop() >= 100 && $(document).scrollTop()<= max){
                document.getElementById("menuVertical").setAttribute("class","menuVertical fixed");
            }
            else{
                document.getElementById("menuVertical").setAttribute("class","menuVertical");
            }
        });
        document.getElementById("menu1").setAttribute("class","");
        document.getElementById("menu7").setAttribute("class","menuActivo");
    </script>
{% endblock %}
    
