{# Plantilla de colaboradores #}
{% block Colaboradores %}
<section id="colaboradores" class="pt40 mb40"><!-- Begin Recent Work + Clients -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading mb30">
                    <h4><span class="ion-android-social-user mr15"></span>Colaboradores</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Client 1 -->
            <div class="col-sm-2 col-xs-4 mb30-xs" data-sr="enter left" >
                <a href="#"><img src="{{ asset('bundles/app/img/logos/boomerang.png') }}" class="img-responsive clients-img" alt="Client 1"></a>
            </div>
            <!-- Client 2 -->
            <div class="col-sm-2 col-xs-4 mb30-xs" data-sr="enter left">
                <a href="#"><img src="{{ asset('bundles/app/img/logos/backlight.png') }}" class="img-responsive clients-img" alt="Client 2"></a>
            </div>
            <!-- Client 3 -->
            <div class="col-sm-2 col-xs-4 mb30-xs" data-sr="enter left">
                <a href="#"><img src="{{ asset('bundles/app/img/logos/equi.png') }}" class="img-responsive clients-img" alt="Client 3"></a>
            </div>
            <!-- Client 4 -->
            <div class="col-sm-2 col-xs-4" data-sr="enter left">
                <a href="#"><img src="{{ asset('bundles/app/img/logos/ome.png') }}" class="img-responsive clients-img" alt="Client 4"></a>
            </div>
            <!-- Client 5 -->
            <div class="col-sm-2 col-xs-4" data-sr="enter left">
                <a href="#"><img src="{{ asset('bundles/app/img/logos/euro.png') }}" class="img-responsive clients-img" alt="Client 5"></a>
            </div>
            <!-- Client 6 -->
            <div class="col-sm-2 col-xs-4" data-sr="enter left">
                <a href="#"><img src="{{ asset('bundles/app/img/logos/micro.png') }}" class="img-responsive clients-img" alt="Client 6"></a>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</section><!-- End Recent Work + Clients -->
{% endblock %}
    