{# Conciertos populares para el home #}
<div class="row mt40 mb40 pt20 background-white">
    <div class="col-sm-12">
        <div class="heading mb30">
            <h4 class="tituloInteres">
                <span class="ion-plus mr15"></span>
                Otros servicios que pueden ser de su interes
            </h4>
            <div class="owl-controls">
                <div id="customNav" class="owl-nav"></div>
            </div>
        </div>
        <div id="owl-carousel-thumb" class="owl-carousel carousel-home">
            <div class="thumbnail"><!-- Item 1 -->
                <div class="view image-hover-1 no-margin">
                    <!-- Blog Thumb -->
                    <div class="product-container">
                        <img class="img-responsive full-width" src="{{ asset('bundles/app/img/Evento2.png') }}" alt="...">
                        <span class="badge home-badge">
                            <span class="label label-default">24</span> entradas restantes
                        </span>
                    </div>
                    <div class="mask">
                        <div class="image-hover-content">
                            <!-- Zoom + Blog Link -->
                            <a href="{{ asset('bundles/app/img/Evento2.png') }}" class="info image-zoom-link">
                                <div class="image-icon-holder">
                                    <span class="ion-ios7-search image-icons"></span>
                                </div>
                            </a>
                            <a href="#" class="info">
                                <div class="image-icon-holder">
                                    <span class="ion-link image-icons"></span>
                                </div>
                            </a>
                        </div><!-- /image hover content -->
                    </div><!-- /mask-->
                </div>
                <div class="shop-product content-box-shadow">
                    <a href=""><h2>Concierto 1</h2></a>
                    <div class="row">
                        <div class="col-md-5">
                            <span class="fecha-container">
                                <i class="fa fa-calendar"></i> 12 Feb
                            </span>
                        </div>
                        <div class="col-md-7" style="text-align:left;">
                            <span class="label label-default shop-product-price"> 179.99 €</span>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-md-12">
                            <a class="location-container pull-left" href="#">
                                <i class="fa fa-map-marker"></i>
                                Palau Sant Jordi
                            </a>
                        </div>
                    </div>
                    <div class="counter" data-date="2016-11-14 00:00:00"></div>
                    <a href="" class="btn btn-bordered btn-custom-orange btn-lg" style="width:100%;">
                        Comprar Entradas
                    </a>
                </div>
            </div><!-- Fin Item 1 -->
            <div class="thumbnail">
                <div class="view image-hover-1 no-margin">
                    <!-- Blog Thumb -->
                    <div class="product-container">
                        <img class="img-responsive full-width" src="{{ asset('bundles/app/img/Evento3.png') }}" alt="...">
                        <span class="badge home-badge">
                            <span class="label label-danger">10</span> entradas restantes
                        </span>
                    </div>
                    <div class="mask">
                        <div class="image-hover-content">
                            <!-- Zoom + Blog Link -->
                            <a href="{{ asset('bundles/app/img/Evento3.png') }}" class="info image-zoom-link">
                                <div class="image-icon-holder"><span class="ion-ios7-search image-icons"></span></div>
                            </a>
                            <a href="#" class="info">
                                <div class="image-icon-holder"><span class="ion-link image-icons"></span></div>
                            </a>
                        </div><!-- /image hover content -->
                    </div><!-- /mask-->
                </div>
                <div class="shop-product content-box-shadow">
                    <a href="#"><h2>Concierto 2</h2></a>
                    <div class="row">
                        <div class="col-md-5">
                            <span class="fecha-container"><i class="fa fa-calendar"></i> 12 Feb</span>
                        </div>
                        <div class="col-md-7" style="text-align:left;">
                            <span class="label label-default shop-product-price"> 20.00 €</span>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-md-12">
                            <span class="location-container pull-left"><i class="fa fa-map-marker"></i>
                                Palau Sant Jordi
                            </span>
                        </div>
                    </div>
                    <div class="counter" data-date="2016-11-14 00:00:00"></div>
                    <a href="#" class="btn btn-bordered btn-custom-orange btn-lg" style="width:100%;">
                        Comprar Entradas
                    </a>
                </div>
            </div>
            <div class="thumbnail">
                <div class="view image-hover-1 no-margin">
                    <!-- Blog Thumb -->
                    <div class="product-container">
                        <img class="img-responsive full-width" src="{{ asset('bundles/app/img/Evento6.png') }}" alt="...">
                        <span class="badge home-badge">
                            <span class="label label-default">70</span> entradas restantes
                        </span>
                    </div>
                    <div class="mask">
                        <div class="image-hover-content">
                            <!-- Zoom + Blog Link -->
                            <a href="{{ asset('bundles/app/img/Evento6.png') }}" class="info image-zoom-link">
                                <div class="image-icon-holder">
                                    <span class="ion-ios7-search image-icons"></span>
                                </div>
                            </a>
                            <a href="" class="info">
                                <div class="image-icon-holder">
                                    <span class="ion-link image-icons"></span>
                                </div>
                            </a>
                        </div><!-- /image hover content -->
                    </div><!-- /mask-->
                </div>
                <div class="shop-product content-box-shadow">
                    <a href="#"><h2>Concierto 3</h2></a>
                    <div class="row">
                        <div class="col-md-5">
                            <span class="fecha-container">
                                <i class="fa fa-calendar"></i> 14 Abr
                            </span>
                        </div>
                        <div class="col-md-7" style="text-align:left;">
                            <span class="label label-default shop-product-price"> 17.99 €</span>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-md-12">
                            <span class="location-container pull-left"><i class="fa fa-map-marker"></i>
                                Palau Sant Jordi
                            </span>
                        </div>
                    </div>
                    <div class="counter" data-date="2016-11-14 00:00:00"></div>
                    <a href="#" class="btn btn-bordered btn-custom-orange btn-lg" style="width:100%;">
                        Comprar Entradas
                    </a>
                </div>
            </div>
            <div class="thumbnail">
                <div class="view image-hover-1 no-margin">
                    <!-- Blog Thumb -->
                    <div class="product-container">
                        <img class="img-responsive full-width" src="{{ asset('bundles/app/img/Evento7.png') }}" alt="...">
                        <span class="badge home-badge">
                            <span class="label label-danger">5</span> entradas restantes
                        </span>
                    </div>
                    <div class="mask">
                        <div class="image-hover-content">
                            <!-- Zoom + Blog Link -->
                            <a href="{{ asset('bundles/app/img/Evento7.png') }}" class="info image-zoom-link">
                                <div class="image-icon-holder">
                                    <span class="ion-ios7-search image-icons"></span>
                                </div>
                            </a>
                            <a href="" class="info">
                                <div class="image-icon-holder">
                                    <span class="ion-link image-icons"></span>
                                </div>
                            </a>
                        </div><!-- /image hover content -->
                    </div><!-- /mask-->
                </div>
                <div class="shop-product content-box-shadow">
                    <a href="">
                        <h2>Concierto 4</h2>
                    </a>
                    <div class="row">
                        <div class="col-md-5">
                            <span class="fecha-container">
                                <i class="fa fa-calendar"></i> 14 Abr</span>
                        </div>
                        <div class="col-md-7" style="text-align:left;">
                            <span class="label label-default shop-product-price"> 15.99 €</span>
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-md-12">
                            <span class="location-container pull-left">
                                <i class="fa fa-map-marker"></i>
                                Palau Sant Jordi
                            </span>
                        </div>
                    </div>
                    <div class="counter" data-date="2016-11-14 00:00:00"></div>
                    <a href="" class="btn btn-bordered btn-custom-orange btn-lg" style="width:100%;">
                        Comprar Entradas
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
                                        
