{# Plantilla de eventos de interes #}
<div class="row panelSombra mb40" id="Interes"><!-- Seccion de interes -->
    <div class="col-sm-12 col-md-12 col-lg-12 background-white capaTitulo">
        <h3 class="mt10">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            Tambien te puede interesar...
        </h3>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 background-white">
        <div class="row mb10"><!-- Eventos de interes -->
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 cajaInteres"><!-- Evento de interes1 -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src="{{ asset('bundles/app/img/sala1.png') }}"  alt="Sala 1" class="img img-responsive imagenInteres">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="fondoAzul">
                            Dimitri Vegas en Barcelona<br>10 €
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="#" 
                           class="btn-custom-orange botonInteres">
                            Comprar Entradas
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 cajaInteres"><!-- Evento de interes2 -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src="{{ asset('bundles/app/img/sala1.png') }}"  alt="Sala 1" class="img img-responsive imagenInteres">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="fondoAzul">
                            Dimitri Vegas en Barcelona<br>10 €
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="#" 
                           class="btn-custom-orange botonInteres">
                            Comprar Entradas
                        </a>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 cajaInteres"><!-- Evento de interes3 -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src="{{ asset('bundles/app/img/sala1.png') }}"  alt="Sala 1" class="img img-responsive imagenInteres">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="fondoAzul">
                            Dimitri Vegas en Barcelona<br>10 €
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="#" 
                           class="btn-custom-orange botonInteres">
                            Comprar Entradas
                        </a>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 cajaInteres"><!-- Evento de interes4 -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src="{{ asset('bundles/app/img/sala1.png') }}"  alt="Sala 1" class="img img-responsive imagenInteres">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="fondoAzul">
                            Dimitri Vegas en Barcelona<br>10 €
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="#" 
                           class="btn-custom-orange botonInteres">
                            Comprar Entradas
                        </a>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 cajaInteres"><!-- Evento de interes5 -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src="{{ asset('bundles/app/img/sala1.png') }}"  alt="Sala 1" class="img img-responsive imagenInteres">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="fondoAzul">
                            Dimitri Vegas en Barcelona<br>10 €
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="#" 
                           class="btn-custom-orange botonInteres">
                            Comprar Entradas
                        </a>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-2 col-md-2 col-lg-2 cajaInteres"><!-- Evento de interes6 -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <img src="{{ asset('bundles/app/img/sala1.png') }}"  alt="Sala 1" class="img img-responsive imagenInteres">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="fondoAzul">
                            Dimitri Vegas en Barcelona<br>10 €
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="#" 
                           class="btn-custom-orange botonInteres">
                            Comprar Entradas
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                        