{# Presentaciones del artista 2 #}
<div class="col-lg-12">
    <div class="tituloPresentaciones">
        <h4>
            <span class="glyphicon glyphicon-globe"></span>
            <!-- span class="glyphicon glyphicon-blackboard"></span -->
            Presentaciones            
        </h4>
        <div class="owl-controls">
            <div id="customNav" class="owl-nav">
                <div class="owl-prev" style="">
                    <span id="controlIzq">&lt;</span>
                </div>
                <div class="owl-next" style="">
                    <span id="controlDer">&gt;</span>
                </div>
            </div>
        </div>
    </div>
    <div id="owl-carousel-thumb" class="owl-carousel owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage" style="transform: translate3d(-970px, 0px, 0px); 
              transition: 0.2s; width: 3395px;" name="listaImagenes" id="listaImagenes">
                <div class="owl-item cloned" style="width: 212.5px; margin-right: 30px;" id="item1"><!-- item 1-->
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <a href="#"><h4 class="text-white">Concierto 3</h4></a>
                                <a href="{{ asset('bundles/app/img/presentacion3.png')}}" class="btn btn-rw btn-clear image-zoom-link"><span class="ion-android-search"></span></a>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/presentacion3.png')}}" alt="...">
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 212.5px; margin-right: 30px;" id="item2"><!-- item 2-->
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <a href="#">
                                    <h4 class="text-white">Concierto 4</h4>
                                </a>
                                <a href="{{ asset('bundles/app/img/presentacion4.png')}}" class="btn btn-rw btn-clear image-zoom-link">
                                    <span class="ion-android-search"></span>
                                </a>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/presentacion4.png')}}" alt="...">
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 212.5px; margin-right: 30px;" id="item3"><!-- item 3-->
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <a href="#">
                                    <h4 class="text-white">Concierto 5</h4>
                                </a>
                                <a href="{{ asset('bundles/app/img/presentacion5.png')}}" class="btn btn-rw btn-clear image-zoom-link">
                                    <span class="ion-android-search"></span>
                                </a>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/presentacion5.png')}}" alt="...">
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 212.5px; margin-right: 30px;" id="item4"><!-- item 4-->
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <a href="#">
                                    <h4 class="text-white">Concierto 6</h4>
                                </a>
                                <a href="{{ asset('bundles/app/img/presentacion6.png')}}" class="btn btn-rw btn-clear image-zoom-link">
                                    <span class="ion-android-search"></span>
                                </a>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/presentacion6.png')}}" alt="...">
                    </div>
                </div>
                <div class="owl-item active" style="width: 212.5px; margin-right: 30px;" id="item5"><!-- item 5-->
                    <div class="thumbnail">
                        <div class="caption v-wrap">
                            <div class="thumbnail-caption-holder v-box">
                                <a href="#">
                                    <h4 class="text-white">M&eacute;xico</h4>
                                </a>
                                <a href="{{ asset('bundles/app/img/presentacion1.png')}}" class="btn btn-rw btn-clear image-zoom-link">
                                    <span class="ion-android-search"></span>
                                </a>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/presentacion1.png')}}" alt="...">
                    </div>
                </div>
                <div class="owl-item active" style="width: 212.5px; margin-right: 30px;" id="item6"><!-- item 6-->
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <a href="#">
                                    <h4 class="text-white">Barcelona</h4>
                                </a>
                                <a href="{{ asset('bundles/app/img/presentacion2.png')}}" class="btn btn-rw btn-clear image-zoom-link">
                                    <span class="ion-android-search"></span>
                                </a>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/presentacion2.png')}}" alt="...">
                    </div>
                </div>
                <div class="owl-item active" style="width: 212.5px; margin-right: 30px;" id="item7"><!-- item 7-->
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <a href="#">
                                    <h4 class="text-white">Concierto 3</h4>
                                </a>
                                <a href="{{ asset('bundles/app/img/presentacion3.png')}}" class="btn btn-rw btn-clear image-zoom-link">
                                    <span class="ion-android-search"></span>
                                </a>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/presentacion3.png')}}" alt="...">
                    </div>
                </div>
                <div class="owl-item active" style="width: 212.5px; margin-right: 30px;" id="item8"><!-- item 8-->
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <a href="#">
                                    <h4 class="text-white">Concierto 4</h4>
                                </a>
                                <a href="{{ asset('bundles/app/img/presentacion4.png')}}" class="btn btn-rw btn-clear image-zoom-link">
                                    <span class="ion-android-search"></span>
                                </a>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/presentacion4.png')}}" alt="...">
                    </div>
                </div>
                <div class="owl-item" style="width: 212.5px; margin-right: 30px;" id="item9"><!-- item 9-->
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <a href="#">
                                    <h4 class="text-white">Concierto 5</h4>
                                </a>
                                <a href="{{ asset('bundles/app/img/presentacion5.png')}}" class="btn btn-rw btn-clear image-zoom-link">
                                    <span class="ion-android-search"></span>
                                </a>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/presentacion5.png')}}" alt="...">
                    </div>
                </div>
                <div class="owl-item" style="width: 212.5px; margin-right: 30px;" id="item10"><!-- item 10-->
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <a href="#">
                                    <h4 class="text-white">Concierto 6</h4>
                                </a>
                                <a href="{{ asset('bundles/app/img/presentacion6.png')}}" class="btn btn-rw btn-clear image-zoom-link">
                                    <span class="ion-android-search"></span>
                                </a>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/presentacion6.png')}}" alt="...">
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 212.5px; margin-right: 30px;" id="item11"><!-- item 11-->
                    <div class="thumbnail">
                        <div class="caption v-wrap">
                            <div class="thumbnail-caption-holder v-box">
                                <a href="#">
                                    <h4 class="text-white">M&eacute;xico</h4>
                                </a>
                                <a href="{{ asset('bundles/app/img/presentacion1.png')}}" class="btn btn-rw btn-clear image-zoom-link">
                                    <span class="ion-android-search"></span>
                                </a>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/presentacion1.png')}}" alt="...">
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 212.5px; margin-right: 30px;" id="item12"><!-- item 12-->
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <a href="#">
                                    <h4 class="text-white">Barcelona</h4>
                                </a>
                                <a href="{{ asset('bundles/app/img/presentacion2.png')}}" class="btn btn-rw btn-clear image-zoom-link">
                                    <span class="ion-android-search"></span>
                                </a>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/presentacion2.png')}}" alt="...">
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 212.5px; margin-right: 30px;" id="item13"><!-- item 13-->
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <a href="#">
                                    <h4 class="text-white">Concierto 3</h4>
                                </a>
                                <a href="{{ asset('bundles/app/img/presentacion3.png')}}" class="btn btn-rw btn-clear image-zoom-link">
                                    <span class="ion-android-search"></span>
                                </a>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/presentacion3.png')}}" alt="...">
                    </div>
                </div>
                <div class="owl-item cloned" style="width: 212.5px; margin-right: 30px;" id="item14"><!-- item 14-->
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="thumbnail-caption-holder">
                                <a href="#">
                                    <h4 class="text-white">Concierto 4</h4>
                                </a>
                                <a href="{{ asset('bundles/app/img/presentacion4.png')}}" class="btn btn-rw btn-clear image-zoom-link">
                                    <span class="ion-android-search"></span>
                                </a>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/presentacion4.png')}}" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-controls">
            <div class="owl-dots" style="display: none;">
                
            </div>                
        </div>
    </div>
</div>
